
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Variaveis*/
:root {
    --cor-prim: #F9D84D;
    --cor-prim-clara: #FFEC9C;
    --cor-secun: #F94D58;
    --cor-secun-clara:#FD9CA3;
    --cor-fundo: #333333;
    --cor-fundo-clara: #555555;
    --cor-texto: #EEEEEE;
    --font-texto: 'IBM Plex Sans', sans-serif;
    --font-titulo: 'Playfair Display', serif;
}


* {
    font-family: var(--font-texto)sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: var(--cor-prim);
    flex-wrap: wrap;
}
#img-logo{
    background-color: transparent;
}
main{
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 1px solid gray;
    background-color: rgb(78, 196, 78);
    min-height: 200px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--cor-fundo-clara);
    min-height: 100px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secun);
    min-height: 25px;
    width: 100%;
    margin: 5px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(20, 255, 243);
    background-color: rgb(134, 167, 238);
    min-height: 100%;
    width: 75%;
    margin: 5px;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 20, 130);
    background-color: rgb(241, 16, 16);
    width: 25%;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 67, 20);
    background-color: rgb(211, 220, 241);
    margin: 5px;
    min-height: 85px;
    width: 100%;
}
#Menu-Principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var (--cor-secun);
    min-height: 25px;
    width: 100%;
}
#Menu-Principal ul {
    list-style: none;/* tira decoração da lista */
    display: flex;/*todos os filhos na horizontal*/
    align-items: stretch;
}
#Menu-Principal ul li {
    height: 36px;
    margin: 0 10px;
    display: flex;
    
}
#Menu-Principal ul li a {
    font-family: var(--font-titulo);
    height: 36px;
    align-items: center;
    display: flex;
    padding: 0 10px;
    color: var(--cor-texto);
    text-decoration: none;
    background-color: var(--cor-secun);
    transition: 300ms;
}
/*Quando o mouse passa sobre o link do menu*/
#Menu-Principal ul li a:hover {
    filter: brightness(1.2);
}

@media screen and (max-width: 600px) {
    
    main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        }

    section, aside{
        width: 100%;
    }       
    
}